
PORT=3000


# CONFIGURACIÓN MIKROWISP
MIKROWISP_URL=https://miurldemikrowisp.com
MIKROWISP_API_KEY=myapikeydepruebamikrowisp

# CONFIGURACIÓN ENTORNO AZUL (Pruebas / Sandbox)
AZUL_IS_TESTING=true
AZUL_ENV=development

# Credenciales de pruebas de Azul
AZUL_MERCHANT_ID_TEST=mechantidtest
AZUL_AUTH_KEY_TEST=myauthkeytest

# Nombre e identidad comercial
AZUL_MERCHANT_NAME=nombredeidentidadcomercial
AZUL_MERCHANT_TYPE=Telecommunications
AZUL_CURRENCY_CODE=$

#definir las urls de retorno de pago de producción
#AZUL_APPROVED_URL=https://miurldemikrowisp.com/pago-completado
#AZUL_DECLINED_URL=https://miurldemikrowisp.com/pago-rechazado
#AZUL_CANCEL_URL=https://miurldemikrowisp.com/consulta-factura

# definir las urls de retorno de pago de pruebas local
AZUL_APPROVED_URL=http://localhost:5173/pago-completado
AZUL_DECLINED_URL=http://localhost:5173/pago-rechazado
AZUL_CANCEL_URL=http://localhost:5173/consulta-factura

VITE_APP_VERSION = 1.4.0