# Variables para el Backend (Express)
PORT=3000
MIKROWISP_URL=https://mikrowisp.oneredrd.com
MIKROWISP_API_KEY=tu_api_key_aqui

# Cambiar a true para Pruebas, false para Producción
AZUL_IS_TESTING=true

# Credenciales de Pruebas
AZUL_MERCHANT_ID_TEST=APPROVED_MERCHANT
AZUL_AUTH_KEY_TEST=APPROVED_AUTH_KEY

# Credenciales de Producción
AZUL_MERCHANT_ID_PROD=tu_merchant_id_prod_aqui
AZUL_AUTH_KEY_PROD=tu_auth_key_prod_aqui

AZUL_APPROVED_URL=https://oneredrd.com/pago-exitoso
AZUL_DECLINED_URL=https://oneredrd.com/pago-declinado
AZUL_CANCEL_URL=https://oneredrd.com/consulta-factura
