version: '3.8'
services:
  web-onered:
    build: .
    container_name: webpage-onered
    restart: always
    networks:
      - network_public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.onered.rule=Host(`oneredrd.com`) || Host(`www.oneredrd.com`)"
      - "traefik.http.routers.onered.entrypoints=websecure"
      - "traefik.http.routers.onered.tls.certresolver=letsencryptresolver"
      - "traefik.http.services.onered.loadbalancer.server.port=3000"

networks:
  network_public:
    external: true